<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
   <listeners>
		<listener
			class-name="com.listeners.Listener"></listener>
	</listeners>
  <test thread-count="5" name="SportsTakAssignment">
  		<classes>
			<class name="com.testrunners.TestRunner" />
			<class name="com.testrunners.FailedRunner" />
		</classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
